<!--------------------------------------- Project Information - Start --------------------------------------->
<!-- 
    Author: Süleyman KARACA
    Project Name: Vet Klinik
    Page: Product Definition Page 
    Version: v1.0
    GitHub: https://github.com/slymnkrc
    Date: 12.09.2021
-->
<!--------------------------------------- Project Information - End ----------------------------------------->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">

<head>
    <title>Alış</title>

    <!-------------------------------------------------------- Table CSS - Start --------------------------------------------------------->

    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/vendors.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/app-assets/vendors/css/tables/datatable/rowGroup.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/forms/select/select2.min.css}">

    <!-------------------------------------------------------- Table CSS - End --------------------------------------------------------->


</head>
<body>

<th:block layout:fragment="content">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <!-- Basic multiple Column Form section start -->
        <section id="multiple-column-form ">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Kayıtlı Tedarikçiden Alış</h4>
                        </div>
                        <div class="card-body">

                            <form class="form" id="buyingForm">
                                <div>
                                    <label for="selectSupplier">Tedarikçiler</label>
                                    <select id="selectSupplier" class="select2 form-control form-control-lg">
                                        <option value="default">Tedarikçi Seçimi Yapınız</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <label for="selectProduct" class="mt-1">Ürünler</label>
                                        <select id="selectProduct" class="select2 form-control form-control-lg"
                                                required>
                                            <option value="">Ürün Seçimi Yapınız</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-4">
                                        <label class="mt-1">Fatura No</label>
                                        <input id="receipt" name="receipt" class="form-control"
                                               placeholder="Fatura No" disabled></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 form-group">
                                        <label for="selectUnit" class="mt-1">Birim</label>
                                        <select id="selectUnit" class="select2 form-control form-control-lg">
                                            <option value=" ">Birim Seçiniz</option>
                                            <option value="1">KG</option>
                                            <option value="2">Adet</option>
                                            <option value="3">Kutu</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label class="mt-1">Miktar</label>
                                        <section id="basic-touchspin">
                                            <div class="input-group">
                                                <input id="amount" type="number" class="touchspin" value="1"/>
                                            </div>
                                        </section>

                                    </div>
                                </div>
                                <div class="form-group mt-1 ">
                                    <textarea id="note" name="note" class="form-control" style="height: 74px"
                                              placeholder="Satış Notu Giriniz..."></textarea>
                                </div>
                                <div class="modal-footer col-12">
                                    <button type="reset" class="btn btn-outline-secondary mr-1">Temizle</button>

                                    <button type="submit" class="btn btn-primary">Tamamla</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Yeni Tedarikçiden Alış</h4>
                        </div>
                        <div class="card-body">
                            <form class="supForm" id="supForm">
                                <div class="form-group mt-2 ">
                                    <label>Tedarikçi Adı</label>
                                    <input id="supName" name="supName" class="form-control"
                                           placeholder="Tedarikçi Adını Giriniz" required></input>
                                </div>
                                <div class="form-group mt-2 mb-1">
                                    <label>Tedarikçi E-Mail</label>
                                    <input id="supEmail" name="supEmail" class="form-control"
                                           placeholder="Tedarikçi E-Mail Adresini Giriniz" required></input>
                                </div>
                                <div class="form-group mt-2 mb-3">
                                    <label>Tedarikçi Telefon</label>
                                    <input id="supPhone" name="supPhone" class="form-control"
                                           placeholder="Tedarikçi Telefonunu Giriniz" required></input>
                                </div>
                                <div class="row">
                                    <div class="row col-12">
                                        <div class="col-6">
                                            <div class="col-12">
                                                <a th:href="@{/productDefinition}" type="button" class="btn btn-success col-12">Yeni Ürün Ekle</a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="col-12 mb-1">
                                                <button type="submit" class="btn btn-primary col-12">Tamamla</button>
                                            </div>
                                            <div class="col-12">
                                                <button type="reset" class="btn btn-outline-secondary mt-1 col-12">
                                                    Temizle
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Floating Label Form section end -->

        <!-- Basic table -->
        <section id="basic-datatable">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <table class="datatables-basic table" id="buyingTable">
                            <thead>
                            <tr>

                                <th>Id</th>
                                <th>Tarih</th>
                                <th>Fatura No</th>
                                <th>Tedarikçi</th>
                                <th>Ürün Adı</th>
                                <th>Miktar</th>
                            </tr>
                            </thead>
                            <tbody id="buyTableBody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END: Content-->
</th:block>

<th:block layout:fragment="contentJs">
    <!-------------------------------------------------------- This Page Required JavaScript File -------------------------------------------------------->

    <script th:src="@{/app-assets/vendors/js/forms/select/select2.full.min.js}"></script>
    <script th:src="@{/app-assets/js/scripts/forms/form-select2.js}"></script>

    <!-------------------------------------------------------- Table JS - Start --------------------------------------------------------->

    <script th:src="@{/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/jszip.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/pdfmake.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/vfs_fonts.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.html5.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/buttons.print.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js}"></script>
    <script th:src="@{/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js}"></script>
    <script th:src="@{/app-assets/js/scripts/forms/form-number-input.js}"></script>
    <script th:src="@{/app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js}"></script>
    <script th:src="@{/mainJs/buying.js}"></script>
    <!-------------------------------------------------------- Table JS - End --------------------------------------------------------->

    <!-------------------------------------------------------- This Page Required JavaScript File -------------------------------------------------------->
</th:block>

</body>
</html>