<!-- Project Information - Start -->
<!-- 
    Name: Süleyman 
    Surname: KARACA
    Version: v1.0
    Date: 11.09.2021
    contact: https://github.com/slymnkrc
-->
<!-- Project Information - End -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <title>Şifremi Unuttum</title>

  <link rel="apple-touch-icon" th:href="@{/app-assets/images/ico/apple-icon-120.png}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/app-assets/images/ico/favicon.ico}">

  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}">
  <link rel="stylesheet" th:href="@{/login/css/forgotPassword.css}">



</head>
<body>
<!-- partial:index.partial.html -->
<!-- NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<div id="container" >
  <div id="inviteContainer">
    <div class="logoContainer"><img class="text" th:src="@{/login/images/logo/logo.png}"/><h2 class="brand-text">Vet Klinik</h2></div>
    <div class="acceptContainer">
      <form>
        <h1>Sisteme Kayıtlı Mail Adresinizi Giriniz</h1>
        <div class="formContainer">
          <div class="formDiv" style="transition-delay: 0.2s">
            <p>MAİL</p>
            <input type="email" required="" autofocus/>
          </div>
          <!--
          <div class="formDiv" id="pass_fail" class="invalid-feedback" style="display: block; color: aliceblue;">

          </div>
          <div class="formDiv" id="pass_success" class="valid-feedback" style="display: block; color: aliceblue;">

          </div>
          -->
          <div class="formDiv" style="transition-delay: 0.6s">
            <button class="acceptBtn" type="submit">Giriş</button>
            <span class="register">
              <a th:href="@{/login}">Giriş Ekranına Dön</a>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://use.fontawesome.com/releases/v5.0.1/js/all.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js}" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script>

<script th:src="@{/login/js/forgotPassword.js}"></script>

</body>
</html>
