<!-- Project Information - Start -->
<!--
    Author: Süleyman KARACA
    Version: v1.0
    Date: 11.09.2021
    contact: https://github.com/slymnkrc
-->
<!-- Project Information - End -->


<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Giriş Yap</title>

  <link rel="apple-touch-icon" th:href="@{/app-assets/images/ico/apple-icon-120.png}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/app-assets/images/ico/favicon.ico}">

  <link rel="stylesheet" type="text/css" th:href="@{/login/css/login.css}">
  <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<div id="container" >
  <div id="inviteContainer">
    <div class="logoContainer"><img class="text" th:src="@{/login/images/logo/logo.png}"/><h2 class="brand-text">Vet Klinik</h2></div>
    <div class="acceptContainer">

      <form th:action="@{/login}" th:object="${userLogin}" method="post">
        <h1>Hoş Geldiniz!</h1>


        <div class="formContainer">
          <div class="formDiv" style="transition-delay: 0.2s">
            <p>MAİL</p>
            <input type="email" name="username" id="uEmail" required autofocus/>
          </div>
          <div class="formDiv" style="transition-delay: 0.4s">
            <p>ŞİFRE</p>
            <input type="password" name="password" id="uPassword" required/>
            <!--  <a class="forgotPas" th:href="@{/forgotPassword}" data-bs-toggle="modal" data-bs-target="#loginModal">ŞİFREMİ UNUTTUM?</a> -->
          </div>
          <input style="transition-delay: 0.6s" type="checkbox" value="lsRememberMe" name="remember-me" id="rememberMe" checked>
          <label style="transition-delay: 0.6s" class="rememberBtn" for="rememberMe">Beni Hatırla</label>
          <div class="formDiv" style="transition-delay: 0.6s">
            <button class="acceptBtn " type="submit">Giriş</button>
            <span class="register">Hesabınız yok mu?<a th:href="@{/register}">Kayıt Ol</a></span>
          </div>

          <div class="mt-5" th:if="${param.error}">
            <strong style="color: white">Kullanıcı adı ya da şifre hatalı! Lütfen tekrar deneyiniz.</strong>
          </div>
        </div>

      </form>




    </div>
  </div>
</div>




  <!-- Required JavaScript File -->

  <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
  <script th:src="@{https://use.fontawesome.com/releases/v5.0.1/js/all.js}"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js}" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script>
  <script th:src="@{/login/js/login.js}"></script>

  <!-- Required JavaScript File -->

</body>
</html>
